---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const PROJECTS = [
  {
    title: "Gestor de tareas",
    description:
      "Se implementó un calendario para gestionar tareas a lo largo del tiempo, la solución se desarrollo internamente para el sector de comunicación del Consejo de ciencias económicas, el mismo cuenta con funciones como drag and drop, historial de tareas, derivación y carga de archivos.",
    github: "https://github.com/sistemascpcesfe/tareas",
    image: "/projects/tarea.png",
  },
  {
    title: "Ecommerce",
    description:
      "Proyecto final de curso en grupo. Se creo un ecommerce de venta de boletos de eventos, el mismo cuenta con todas las funcionalidades de una aplicacion real, autenticación de JWT, Pasarela de pago, Rutas de administrador, Integración de Mailer, entre otras.",
    github: "https://github.com/LuisDanielRB/ecommerce_pg",
    image: "/projects/ecommerce.png",
    link: "https://ecommerce-pg-nine.vercel.app/",
  },
  {
    title: "Autenticación",
    description:
      "Inicio de sesión basado en JWT, Passport y Mailer con NestJS, el mismo genera los tokens para iniciar sesión, recuperar la contraseña y verificar tu mail",
    github: "https://github.com/jonafm14/login-backend",
    image: "/projects/email.png",
  },
  {
    title: "SpaceX",
    description:
      "Consumiendo la api de SpaceX para aplicar view transitions con Astro y Bun",
    github: "https://github.com/jonafm14/Astro-bun-tailwindcss",
    image: "/projects/spacex.png",
    link: "https://astro-bun-tailwindcss.vercel.app/",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, link, description, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-6" />
                  Deploy
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
